---
title: Hi
layout: default
---

<div class="card">
  <h2 class="card-header">
    Dorms
  </h2>
  <div class="card-body">
    <div class="row">
      <div class="col-lg">
        <h3>
          Freshman
        </h3>
        <div class="fs-5 fw-light">
          {% for freshman_dorm in site.data.dorms_by_year["freshman"] %}
            <a href="{{ site.baseurl }}/dorms/{{ freshman_dorm.dorm_id }}" class="dorm-link">{{ freshman_dorm.dorm_name }}</a>
          {% endfor %}
        </div>
      </div>
      <div class="col-lg">
        <h3>
          Sophomore
        </h3>
        <div class="fs-5 fw-light">
          {% for sophomore_dorm in site.data.dorms_by_year["sophomore"] %}
            <a href="{{ site.baseurl }}/dorms/{{ sophomore_dorm.dorm_id }}" class="dorm-link">{{ sophomore_dorm.dorm_name }}</a>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-lg">
        <h3>
          Junior
        </h3>
        <div class="fs-5 fw-light">
          {% for junior_dorm in site.data.dorms_by_year["junior"] %}
            <a href="{{ site.baseurl }}/dorms/{{ junior_dorm.dorm_id }}" class="dorm-link">{{ junior_dorm.dorm_name }}</a>
          {% endfor %}
        </div>
      </div>
      <div class="col-lg">
        <h3>
          Senior/Co-term
        </h3>
        <div class="fs-5 fw-light">
          {% for senior_dorm in site.data.dorms_by_year["senior"] %}
            <a href="{{ site.baseurl }}/dorms/{{ senior_dorm.dorm_id }}" class="dorm-link">{{ senior_dorm.dorm_name }}</a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
