@import '../node_modules/bootstrap/scss/bootstrap';

.dorm-link {
  color: $gray-800;
  display: block;
  margin-left: $spacer * (-0.5);
  padding-left: $spacer * 0.5;
  padding-right: $spacer * 0.5;
  text-decoration: none;
}

.dorm-link:hover {
  color: $black;
  background-color: $table-active-bg;
  text-decoration: underline;
}
