@import "../node_modules/bootstrap/scss/bootstrap.scss";

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  height: 8em;
  background-color: $gray-500;
  text-align: center;
}
