body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  display: flex;
  height: 8em;
  background-color: $gray-500;
}

.footer-content {
  margin: auto;
  text-align: center;
  width: 80%;
}

.footer-separator {
  margin-left: 1em;
  margin-right: 1em;
}
